@font-face {
  font-family: 'Cloister Black';
  src: url(./Way\ of\ the\ Departed/CloisterBlackLight.ttf);
}

:root {
  --brown: rgb(73, 38, 1);
  --green: #31a802;
  --beige: #fbe5ac;
}

body {
  background-color: var(--beige);
  background-image: url(http://www.zingerbugimages.com/backgrounds/bamboo_wallpaper_tileable.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
  display: grid;
  padding: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#departed {
  margin-right: auto;
  margin-bottom: 3%;
  border-color: var(--brown);
  border-width: 6px 7px;
  border-style: solid double;
  padding: 10%;  
}

#splinter {
  margin-left: auto;
  border-color: var(--brown);
  border-width: 6px 7px;
  border-style: solid double;
  padding: 10%;  
}

#departed a {
  display: block;
  font-size: 145%;
  text-align: center;
  color: var(--green);
  font-family: 'Cloister Black', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  transition: 0.9s;
}

#splinter a {
  display: block;
  font-size: 145%;
  text-align: center;
  color: var(--green);
  font-family: 'Cloister Black', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  transition: 0.9s;
}

#departed a:hover {
  color: var(--brown);
}

#departed a:visited {
  color: var(--green);
}

#splinter a:hover {
  color: var(--brown);
}

#splinter a:visited {
  color: var(--green);
}