

body {
  background-color: white;
  background-image: url(http://www.zingerbugimages.com/backgrounds/bamboo_wallpaper_tileable.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}
